body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/
h2, p, button {
    margin: 5%;
}

section {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(174, 182, 182);
    width: 20vw;
    margin-left: 1vw;
    margin-top: 2vw;
}

img {
    width: 100%;
}